.MyNFTs-cards-holder {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-right: calc(var(--std-padding) * -1);
  margin-left: calc(var(--std-padding) * -1);
  padding-left: var(--std-padding);
  padding-bottom: calc(var(--std-padding) * 2);
  padding-top: calc(var(--std-padding) * 2);
  margin-top: calc(var(--std-padding) * -2);
}

.MyNFTs-cards-holder::-webkit-scrollbar {
  display: none;
}

.MyNFTs-cards-holder .Card {
  flex: 0 0 auto;
}