.Form {
    margin: 0 auto calc(var(--std-margin) * 5);
}

.Form-group {
    position: relative;
    margin-bottom: var(--std-margin);
}

.Form-group-set-time {
    display: flex;
    width: 100%;
}

.Form-group-set-time-switch {
    min-height: 40px;
    flex: 2 1;
    position: relative;
    top: 3px;
}

.Form-group-set-time-input {
    flex: auto;
}

.Form-group-file-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
}

.Form-group-file-wrapper > input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
}

.Form-group-file-wrapper > input[type=file]:active + button {
    box-shadow: inset 0 3px 0px #7474741c, inset 0 -3px 0px #ffffffe8;
}

.Form-label {
    display: block;
    margin-block-end: calc(var(--std-margin) / 4);
    position: relative;
}

.Form-label .icon svg,
.Form-label .icon svg,
.Form-label .icon svg{
    width: 18px;
    vertical-align: middle;
    top: -2px;
    position: relative;
}

.Form-label .icon svg path:nth-child(2),
.Form-label .icon svg path:nth-child(2),
.Form-label .icon svg path:nth-child(2){
    fill: var(--l-text-color);
    opacity: .8;
}

.Form-label .icon:hover svg path:nth-child(2),
.Form-label .icon:focus svg path:nth-child(2),
.Form-label .icon:active svg path:nth-child(2){
    fill: rgb(19,120,220);
}

.Form-label .icon:hover::after,
.Form-label .icon:focus::after,
.Form-label .icon:active::after{
    opacity: 1;
    transform: scale(1);
}

.Form-label .icon::after {
    position: absolute;
    display: block;
    content: attr(data-hint);
    transform: scale(.5);
    transition: all .2s ease-out;
    bottom: 2rem;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    padding: calc(--std-padding / 2) var(--std-padding);
    z-index: 10;
    background-color: rgb(218,229,240);
    box-shadow: 0 3px 8px #39485747;
    border-radius: var(--std-border-radius);
}

.Form-validation-message {
    color: rgb(134,0,0);
    background-color: rgb(255,208,208);
    padding: 8px 8px 2px;
    font-size: .8rem;
    position: relative;
    top: -9px;
    z-index: 0;
    border-radius: 0 0 var(--std-border-radius) var(--std-border-radius);
}

.Form-file-preview {
    background: var(--l-input-bg-color);
    height: 40px;
    line-height: 40px;
    display: grid;
    grid-template-columns: auto 40px;
    border: 1px solid var(--std-border-color);
    border-radius: var(--std-border-radius);
    position: relative;
    overflow: hidden;
}


.Form-file-preview.invalid {
    background-color: rgb(255,230,230);
}

.Form-file-preview-info {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: calc(var(--std-padding) / 2);
}

.Form-group-files-list-wrapper > .Form-file-preview {
    border-radius: 0;
    border-bottom: none;
}

.Form-group-files-list-wrapper > .Form-file-preview:first-child {
    border-top-left-radius: var(--std-border-radius);
    border-top-right-radius: var(--std-border-radius);
}

.Form-group-files-list-wrapper > .Form-file-preview:last-of-type {
    border-bottom-left-radius: var(--std-border-radius);
    border-bottom-right-radius: var(--std-border-radius);
    border-bottom: 1px solid rgb(212,199,141);
    margin-bottom: var(--std-margin);
}

.Form-file-preview-controls > button {
    width: auto;
    padding-top: 6px;
}

.Form-file-preview-controls > button .icon svg g, .icon svg path:nth-child(2) {
    fill: rgb(153,153,153);
}

.Form-royalty-picker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}


.Form-royalty-picker input {
    font-size: 1.2rem;
    font-weight: 500;
}

.Form input[type=number]::placeholder,
.Form input[type=text]::placeholder,
.Form input[type=date]::placeholder,
.Form input[type=time]::placeholder,
.Form textarea::placeholder {
    color: #ccc;
}

.Form input[type=number],
.Form input[type=text],
.Form input[type=date],
.Form input[type=time],
.Form textarea {
    border-radius: var(--std-border-radius);
    border: 1px solid var(--std-border-color);
    width: 100%;
    height: 40px;
    padding-left: calc(var(--std-padding) / 2);
    padding-right: calc(var(--std-padding) / 2);
    line-height: 2rem;
    background-color: var(--l-input-bg-color);
    z-index: 1;
    position: relative;
}

.Form input[type="date"] {
    -webkit-appearance: none;
}

.Form input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../../assets/img/calendar-l.svg') center/80% no-repeat;
    opacity: 0.4;
}

.Form input[type="time"] {
    -webkit-appearance: none;
}

.Form input[type="time"]::-webkit-calendar-picker-indicator {
    background: url('../../assets/img/clock-l.svg') center/80% no-repeat;
    opacity: 0.4;
}

.Form button {
    width: 100%;
    z-index: 1;
    position: relative;
}

.Form textarea {
    padding: calc(var(--std-padding) / 2);
    display: block;
    width: 100%;
    resize: none;
    min-height: 6rem;
    line-height: 1.2rem;
}