.AlertMessage {
    padding: calc(var(--std-padding) / 3) calc(var(--std-padding) / 2);
    border-radius: var(--std-border-radius);
    border: 5px solid #f3e4a0;
    box-shadow: var(--shadow-color) 0px 0.25rem 0.75rem 0px;
    background-color: #fff;
    margin-bottom: var(--std-padding);
    font-size: .9rem;
    line-height: 1.6rem;
}

.AlertMessage-text {

}

.AlertMessage-controls {
    margin-top: var(--std-margin);
}