.AlertMessage {
    padding: calc(var(--std-padding) / 3) calc(var(--std-padding) / 2);
    border-radius: var(--std-border-radius);
    border: 5px solid #f3e4a0;
    box-shadow: var(--shadow-color) 0px 0.25rem 0.75rem 0px;
    background-color: #fff;
    margin-bottom: var(--std-padding);
    font-size: .9rem;
    line-height: 1.6rem;
    text-align: center;
    max-width: var(--readable-container-width);
}

.AlertMessage-text {

}

.AlertMessage-controls {
    display: inline-block;
}

.AlertMessage .btn,
.AlertMessage .btn-action,
.AlertMessage .btn-big {
    margin-bottom: var(--std-margin);
    margin-top: var(--std-margin);
}