.AlertMessage {
    padding: calc(var(--std-padding) / 3) calc(var(--std-padding) / 2);
    border-radius: var(--std-border-radius);
    border: 1px solid var(--std-border-color);
    background-color: rgb(243,236,203);
    margin-bottom: var(--std-padding);
    font-size: .9rem;
    line-height: 1.6rem;
}

.AlertMessage-text {

}

.AlertMessage-controls {
    margin-top: var(--std-margin);
}