.Form {
    /*margin: 0 auto calc(var(--std-margin) * 5);*/
    display: flex;
    flex-direction: row;
}

.Form > fieldset {
    flex: 1;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: calc(var(--std-padding) / 2);
    padding-right: calc(var(--std-padding) / 2);
    border-right: 1px solid rgba(212,199,141,.4);
}

.Form > fieldset:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.Form > fieldset legend {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--l-gold-text);
    width: 100%;
    text-align: center;
}

.important-note {
    padding: 1rem;
    font-size: 10px;
    border: 1px solid #ccc;
    margin: 1rem 0;
}

.Form-group {
    position: relative;
    margin-bottom: var(--std-margin);
}

.Form .Form-group .Form-label {
    display: flex;
    flex-direction: revert;
    align-items: center;
    line-height: 1.8rem;
}

.Form .Form-group .Form-label .icon {
    margin-left: .5rem;
}

.Form-group-file-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
}

.Form-group-file-wrapper > input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
}

.Form-label {
    display: block;
    margin-block-end: calc(var(--std-margin) / 4);
    position: relative;
}

.Form-label .icon svg,
.Form-label .icon svg,
.Form-label .icon svg{
    width: 18px;
    vertical-align: middle;
    top: -2px;
    position: relative;
}

.Form-label .icon svg path:nth-child(2),
.Form-label .icon svg path:nth-child(2),
.Form-label .icon svg path:nth-child(2){
    fill: var(--l-text-color);
    opacity: .8;
}

.Form-label .icon:hover svg path:nth-child(2),
.Form-label .icon:focus svg path:nth-child(2),
.Form-label .icon:active svg path:nth-child(2){
    fill: rgb(19,120,220);
}

.Form-label .icon:hover::after,
.Form-label .icon:focus::after,
.Form-label .icon:active::after{
    opacity: 1;
    transform: scale(1);
}

.Form-label .icon::after {
    position: absolute;
    display: block;
    content: attr(data-hint);
    transform: scale(.5);
    transition: all .2s ease-out;
    bottom: 2rem;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    padding: .5rem;
    z-index: 10;
    background-color: rgb(218,229,240);
    box-shadow: 0 3px 8px #39485747;
    border-radius: var(--std-border-radius);
    font-size: .9rem;
}

.Form-validation-message {
    color: rgb(134,0,0);
    background-color: rgb(255,208,208);
    padding: 8px 8px 2px;
    font-size: .8rem;
    position: relative;
    top: -9px;
    z-index: 0;
    border-radius: 0 0 var(--std-border-radius) var(--std-border-radius);
}

.Form-file-preview {
    background: var(--l-input-bg-color);
    height: 40px;
    line-height: 40px;
    display: grid;
    grid-template-columns: auto 40px;
    border: 1px solid var(--std-border-color);
    border-radius: var(--std-border-radius);
    position: relative;
    overflow: hidden;
}


.Form-file-preview.invalid {
    background-color: rgb(255,230,230);
}

.Form-file-preview-info {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: calc(var(--std-padding) / 2);
}

.Form-group-files-list-wrapper > .Form-file-preview {
    border-radius: 0;
    border-bottom: none;
}

.Form-group-files-list-wrapper > .Form-file-preview:first-child {
    border-top-left-radius: var(--std-border-radius);
    border-top-right-radius: var(--std-border-radius);
}

.Form-group-files-list-wrapper > .Form-file-preview:last-of-type {
    border-bottom-left-radius: var(--std-border-radius);
    border-bottom-right-radius: var(--std-border-radius);
    border-bottom: 1px solid rgb(212,199,141);
    margin-bottom: var(--std-margin);
}

.Form-file-preview-controls > button {
    width: auto;
    border: none;
    padding: 0;
    position: relative;
    top: -2px;
    left: 8px;
}

.Form-file-preview-controls > button .icon svg g, .icon svg path:nth-child(2) {
    fill: rgb(153,153,153);
}

.Form-royalty-picker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}


.Form-royalty-picker input {
    font-size: 1.2rem;
    font-weight: 500;
}

.Form input[type=number]::placeholder,
.Form input[type=text]::placeholder,
.Form input[type=date]::placeholder,
.Form input[type=time]::placeholder,
.Form textarea::placeholder {
    color: #ccc;
}

.Form input[type=number],
.Form input[type=text],
.Form input[type=date],
.Form input[type=time],
.Form .react-tag-input__input,
.Form textarea {
    width: 100%;
    height: 40px;
    line-height: 2rem;
    background-color: var(--l-input-bg-color);
    z-index: 1;
    position: relative;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--std-border-color);
    padding: 0;
}

.Form input[type="date"] {
    -webkit-appearance: none;
}

.Form input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../../assets/img/calendar-l.svg') center/80% no-repeat;
    opacity: 0.4;
}

.Form input[type="time"] {
    -webkit-appearance: none;
}

.Form input[type="time"]::-webkit-calendar-picker-indicator {
    background: url('../../assets/img/clock-l.svg') center/80% no-repeat;
    opacity: 0.4;
}

.Form button {
    width: 100%;
    z-index: 1;
    position: relative;
}

.Form textarea {
    /*padding: calc(var(--std-padding) / 2);*/
    display: block;
    width: 100%;
    resize: none;
    min-height: 4rem;
    line-height: 1.2rem;
}

.Market-preview-wrap {
    border: 1px solid #ccc;
    overflow: hidden;
}

.Market-preview {
    /*max-width: 600px;*/
    /*max-height: 600px;*/
    width: 600px;
    height: 600px;
    /*background-color: #ccc;*/
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(63deg, rgb(255 255 255) 0%, rgb(249 244 217) 100%);
}

.Market-preview .layer-10 {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../assets/img/preview-layer-1.png);
    background-size: contain;
}

.Market-preview .layer-11 {
    transform: scaleX(1) scaleY(1.3) scaleZ(1) rotateX(8deg) rotateY(13deg) rotateZ(-6deg) translateX(0px) translateY(0px) translateZ(0px) skewX(1deg) skewY(2deg);
}

.Market-preview .layer-11 {
    perspective: 930px;
    perspective-origin: 61% 78%;
    left: 76px;
    position: relative;
    top: 27px;
    z-index: 2;
}

.layer-11-inner {
    width: 320px;
    height: 450px;
    transform: scaleX(.8) scaleY(.8) scaleZ(2.9) rotateX(8deg) rotateY(10deg) rotateZ(351deg) translateX(0px) translateY(0px) translateZ(0px) skewX(359deg) skewY(2deg);
    display: flex;
    flex-direction: column;
}

.layer-11-inner .date {
    font-weight: 400;
    white-space: nowrap;
    text-shadow: 1px 2px 0 #ffffff;
    text-align: center;
    line-height: 5rem;
    font-size: 20px;
    transform: rotatez(-1deg);
    min-height: 82px;
}

.layer-11-inner .preview {
    flex: auto;
}

.layer-11-inner .preview .preview-img-holder {
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-radius: 1000px;
    margin: auto;
    box-shadow: inset 0 0 70px #fff, inset 0 0 10px #fff;
}

.layer-11-inner .preview .preview-img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
}

.layer-11-inner .title {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: -5px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 0 #ffffff;
    color: #000000c9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
}

.Market-preview .layer-20 {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../assets/img/preview-layer-2.png);
    background-size: contain;
}

.Market-preview .layer-icon .icon {
    width: 100%;
    height: 100%;
}

.Market-preview .layer-icon .icon svg {
    width: 70%;
    height: 70%;
    margin: auto;
    display: block;
    top: 20px;
    position: relative;
}

.Market-preview .layer-icon .icon svg path:nth-child(2) {
    fill: var(--std-border-color) !important;
}

.Market-preview div:nth-child(4),
.Market-preview div:nth-child(5),
.Market-preview div:nth-child(6),
.Market-preview div:nth-child(7) {
    width: 120px;
    height: 120px;
    right: 126px;
    bottom: 154px;
    background-color: #fff;
    border-radius: 1000px;
    box-shadow: 0 0 20px 20px #eadea657;
    position: absolute;
    z-index: 4;
}

.Market-preview div:nth-child(5) {
    width: 110px;
    height: 110px;
    bottom: 290px;
    right: 40px;
}

.Market-preview div:nth-child(5) svg {
    top: 18px !important;
}

.Market-preview div:nth-child(6) {
    width: 90px;
    height: 90px;
    bottom: 430px;
    right: 60px;
}

.Market-preview div:nth-child(6) svg {
    top: 15px !important;
}

.Market-preview div:nth-child(7) {
    width: 70px;
    height: 70px;
    bottom: 510px;
    right: 130px;
}

.Market-preview div:nth-child(7) svg {
    top: 12px !important;
}

.Market-preview .layer-21 {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: .5rem;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    color: #8e8e8e;
    /*background-image: linear-gradient(260deg, rgba(255,255,255,0) 0%, rgba(242,234,195,.7) 100%);*/
}

.Market-preview .layer-21 img {
    width: 45px;
    margin: 0 .5rem;
}

/*.Market-preview-bg {*/
/*    position: absolute;*/
/*    background: url(../../assets/img/bg.jpg);*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    background-size: contain;*/
/*    transform: scale(1.43) rotate(229deg);*/
/*    z-index: 1;*/
/*}*/

/*.Card-preview-before-mint-wrap {*/
/*    position: relative;*/
/*    width: 600px;*/
/*}*/

/*.Card-preview-before-mint {*/
/*    position: relative;*/
/*    width: 600px;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*.Card-preview-before-mint .Card {*/
/*    z-index: 2;*/
/*}*/

/*.Card-preview-before-mint .Card-front {*/
/*    background-image: none;*/
/*    background-color: transparent;*/
/*    box-shadow: none;*/
/*}*/

/*.Card-preview-before-mint-generated {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 2;*/
/*    border-radius: 1rem;*/
/*    overflow: hidden;*/
/*}*/

/*.Card-preview-before-mint-generated svg {*/
/*    display: block;*/
/*}*/

/*#marketPreview {*/
/*    position: absolute;*/
/*    !*left: -350px;*!*/
/*    top: 0;*/
/*    z-index: 1;*/
/*}*/

/*.Wizard-full-preview .Card {*/
/*    margin: 0 auto;*/
/*    -webkit-animation: swirl-in-fwd 1s ease-out both;*/
/*    animation: swirl-in-fwd 1s ease-out both;*/
/*}*/

/* ----------------------------------------------
 * Generated by Animista on 2021-9-16 23:35:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
@keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
