.Form {
    /*margin: 0 auto calc(var(--std-margin) * 5);*/
    display: flex;
    flex-direction: row;
}

.Form > fieldset {
    flex: 1;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: calc(var(--std-padding) / 2);
    padding-right: calc(var(--std-padding) / 2);
    border-right: 1px solid rgba(212,199,141,.4);
}

.Form > fieldset:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.Form > fieldset legend {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--l-gold-text);
    width: 100%;
    text-align: center;
}

.important-note {
    padding: 1rem;
    font-size: 10px;
    border: 1px solid #ccc;
    margin: 1rem 0;
}

.Form-group {
    position: relative;
    margin-bottom: var(--std-margin);
}

.Form .Form-group .Form-label {
    display: flex;
    flex-direction: revert;
    align-items: center;
    line-height: 1.8rem;
}

.Form .Form-group .Form-label .icon {
    margin-left: .5rem;
}

.Form-group-file-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
}

.Form-group-file-wrapper > input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
}

.Form-label {
    display: block;
    margin-block-end: calc(var(--std-margin) / 4);
    position: relative;
}

.Form-label .icon svg,
.Form-label .icon svg,
.Form-label .icon svg{
    width: 18px;
    vertical-align: middle;
    top: -2px;
    position: relative;
}

.Form-label .icon svg path:nth-child(2),
.Form-label .icon svg path:nth-child(2),
.Form-label .icon svg path:nth-child(2){
    fill: var(--l-text-color);
    opacity: .8;
}

.Form-label .icon:hover svg path:nth-child(2),
.Form-label .icon:focus svg path:nth-child(2),
.Form-label .icon:active svg path:nth-child(2){
    fill: rgb(19,120,220);
}

.Form-label .icon:hover::after,
.Form-label .icon:focus::after,
.Form-label .icon:active::after{
    opacity: 1;
    transform: scale(1);
}

.Form-label .icon::after {
    position: absolute;
    display: block;
    content: attr(data-hint);
    transform: scale(.5);
    transition: all .2s ease-out;
    bottom: 2rem;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    padding: .5rem;
    z-index: 10;
    background-color: rgb(218,229,240);
    box-shadow: 0 3px 8px #39485747;
    border-radius: var(--std-border-radius);
    font-size: .9rem;
}

.Form-validation-message {
    color: rgb(134,0,0);
    background-color: rgb(255,208,208);
    padding: 8px 8px 2px;
    font-size: .8rem;
    position: relative;
    top: -9px;
    z-index: 0;
    border-radius: 0 0 var(--std-border-radius) var(--std-border-radius);
}

.Form-file-preview {
    background: var(--l-input-bg-color);
    height: 40px;
    line-height: 40px;
    display: grid;
    grid-template-columns: auto 40px;
    border: 1px solid var(--std-border-color);
    border-radius: var(--std-border-radius);
    position: relative;
    overflow: hidden;
}


.Form-file-preview.invalid {
    background-color: rgb(255,230,230);
}

.Form-file-preview-info {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: calc(var(--std-padding) / 2);
}

.Form-group-files-list-wrapper > .Form-file-preview {
    border-radius: 0;
    border-bottom: none;
}

.Form-group-files-list-wrapper > .Form-file-preview:first-child {
    border-top-left-radius: var(--std-border-radius);
    border-top-right-radius: var(--std-border-radius);
}

.Form-group-files-list-wrapper > .Form-file-preview:last-of-type {
    border-bottom-left-radius: var(--std-border-radius);
    border-bottom-right-radius: var(--std-border-radius);
    border-bottom: 1px solid rgb(212,199,141);
    margin-bottom: var(--std-margin);
}

.Form-file-preview-controls > button {
    width: auto;
    border: none;
    padding: 0;
    position: relative;
    top: -2px;
    left: 8px;
}

.Form-file-preview-controls > button .icon svg g, .icon svg path:nth-child(2) {
    fill: rgb(153,153,153);
}

.Form-royalty-picker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}


.Form-royalty-picker input {
    font-size: 1.2rem;
    font-weight: 500;
}

.Form input[type=number]::placeholder,
.Form input[type=text]::placeholder,
.Form input[type=date]::placeholder,
.Form input[type=time]::placeholder,
.Form textarea::placeholder {
    color: #ccc;
}

.Form input[type=number],
.Form input[type=text],
.Form input[type=date],
.Form input[type=time],
.Form .react-tag-input__input,
.Form textarea {
    width: 100%;
    height: 40px;
    line-height: 2rem;
    background-color: var(--l-input-bg-color);
    z-index: 1;
    position: relative;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--std-border-color);
    padding: 0;
}

.Form input[type="date"] {
    -webkit-appearance: none;
}

.Form input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../../assets/img/calendar-l.svg') center/80% no-repeat;
    opacity: 0.4;
}

.Form input[type="time"] {
    -webkit-appearance: none;
}

.Form input[type="time"]::-webkit-calendar-picker-indicator {
    background: url('../../assets/img/clock-l.svg') center/80% no-repeat;
    opacity: 0.4;
}

.Form button {
    width: 100%;
    z-index: 1;
    position: relative;
}

.Form textarea {
    /*padding: calc(var(--std-padding) / 2);*/
    display: block;
    width: 100%;
    resize: none;
    min-height: 4rem;
    line-height: 1.2rem;
}

.Card-preview-before-mint-wrap {
    position: relative;
    width: 320px;
}

.Card-preview-before-mint {
    position: relative;
    width: 320px;
    top: 0;
    left: 0;
}

.Card-preview-before-mint .Card {
    z-index: 2;
}

.Card-preview-before-mint .Card-front {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

.Card-preview-before-mint-generated {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 1rem;
    overflow: hidden;
}

.Card-preview-before-mint-generated svg {
    display: block;
}

#marketPreview {
    position: absolute;
    /*left: -350px;*/
    top: 0;
    z-index: 1;
}

.Wizard-full-preview .Card {
    margin: 0 auto;
    -webkit-animation: swirl-in-fwd 1s ease-out both;
    animation: swirl-in-fwd 1s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-16 23:35:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
@keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
