.App-main-content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 100vh;
  min-width: 1200px;
}

.App-primary-content-inner {
  /*max-width: 1440px;*/
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-left: var(--desktop-menu-width);
  box-sizing: border-box;
}

.App-primary-content-left {
  position: absolute;
  inset: 0px var(--desktop-menu-width) 0px 0px;
  width: var(--desktop-menu-width);
  height: 100%;
  overflow: auto;
  padding: var(--std-padding);
  z-index: 1;
  /*display: none;*/
  display: initial;
  box-shadow: #ffffffbd 9px 0 20px 7px;
  background-color: rgba(255,255,255, .7);
  backdrop-filter: blur(10px);
}

.App-primary-content-right {
  position: absolute;
  inset: 0;
  padding: var(--std-padding);
  /*background: rgb(249, 250, 251);*/
}

.App-primary-content-right h1:first-of-type {
  padding-top: .5rem;
}

.App-primary-content-right::after {
  content: '';
  position: absolute;
  width: var(--std-padding);
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

@media screen and (min-width: 768px) {
  /*.App-primary-content-left {*/
  /*  display: initial;*/
  /*}*/

  /*.App-primary-content-right {*/
  /*  position: absolute;*/
  /*  inset: 0;*/
  /*  padding: var(--std-padding);*/
  /*  !*background: rgb(249, 250, 251);*!*/
  /*  overflow: auto;*/
  /*}*/
}