.Card {
  --card-width: 320px;
  --card-height: 450px;
  --card-preview-side: 260px;
  --card-id-side: 60px;

  color: var(--l-text-color);
  cursor: pointer;
  /*min-height: 28rem;*/
  margin-right: 5rem;
  perspective: 1000px;
  position: relative;
  background-color: transparent;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  flex: 1 0 auto;
  height: var(--card-height);
  width: var(--card-width);
  user-select: none;
  max-width: 340px;
  transition: transform .2s ease-out;
}

.Card:active {
   transform: scale(.97);
 }

.Card.Card-rotated:active {
   transform: none;
 }

.Card-front,
.Card-back {
  background-size: 200% !important;
  background: rgb(245,233,183);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(228,205,105,1) 72%);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: var(--card-height);
  width: var(--card-width);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all cubic-bezier(0.34, 0.37, 0.21, 1.48) .6s;
  box-shadow: 0 1rem 2rem #ddca7899;
  color: var(--l-text-color);
}

.dark .Card-front,
.dark .Card-back {
  background-size: 300% !important;
  background-color: #3c3c3c;
  background-image: radial-gradient(circle, #242424 0%, #423f31 28%, rgba(228,205,105,1) 72%);
  box-shadow: 0 1rem 2rem #ddcb7829;
  color: var(--d-text-color);
}

.Card-front {
  text-align: center;
  overflow: hidden;
  background-position: 50%;
}

.Card-front > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Card-front > div.Card-preview {
  flex: var(--card-preview-side);
  max-height: var(--card-preview-side);
}

.Card-rotated .Card-front {
  background-position: 100%;
}

.Card-back {
  display: flex;
  flex-direction: column;
  transform: rotateY(-180deg);
  padding: calc(var(--std-padding) / 4);
  background-position: -100%;
}

.Card-rotated .Card-back {
  pointer-events: initial;
  background-position: 50%;
  transform: rotateY(0deg);
}

.Card-rotated .Card-front {
  transform: rotateY(180deg);
}

.Card-rotated:nth-child(even) .Card-front {
  transform: rotateY(-180deg);
}

.Card .Card-front div.Card-title {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.6rem;
  font-weight: 500;
  /*height: 5rem;*/
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 0 #ffffff6e;
  color: #000000c9;
  padding: 1rem;
}

.dark .Card-title {
  text-shadow: 1px 1px 0 #0000008a;
  color: #ffffffef;
}

.Card-preview {
  /*margin: auto;*/
  overflow: hidden;
  border-radius: 1000px;
  box-shadow: inset 0 0 70px #fff, inset 0 0 10px #fff;
  border: 1px solid #fff;
  /*position: relative;*/

  width: var(--card-preview-side);
  height: var(--card-preview-side);
}

.dark .Card-preview {
  border: 1px solid #ffffff1f;
  box-shadow: inset 0 0 70px rgba(221,205,137,.7), inset 0 0 10px rgba(228,213,144,1), 0 0 20px rgb(167,153,91);
}

.Card-preview > div {
  position: absolute;
  z-index: -2;
  width: 100%;
  /*height: 100%;*/
}

.Card-preview > div svg {
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  transform: scale(.9);
  border-radius: 100%;
  overflow: hidden;
  opacity: .2;
}

.Card-preview.Card-preview-loading {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background: linear-gradient(-65deg,
  rgba(255,255,255,0) 0%,
  rgba(255,255,255,0) 40%,
  rgba(239,226,132,.4) 50%,
  rgba(255,255,255,0) 60%,
  rgba(255,255,255,0) 100%
  );
  background-size: 500%;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.dark .Card-preview.Card-preview-loading {
  background: linear-gradient(-65deg,
  rgba(255,255,255,0) 0%,
  rgba(255,255,255,0) 40%,
  rgba(167,153,91,.4) 50%,
  rgba(255,255,255,0) 60%,
  rgba(255,255,255,0) 100%
  );
  background-size: 500%;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.Card-preview video,
.Card-preview img {
  position: relative;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: calc(300px - var(--std-padding) - var(--std-padding));
  height: calc(300px - var(--std-padding) - var(--std-padding));
}

.Card-timer {
  flex-direction: column;
  text-shadow: 1px 1px 0 #ffffff6e;
  color: #000000c9;
  width: 100%;
}

.dark .Card-timer {
  text-shadow: 1px 1px 0 #0000008a;
  color: #ffffffef;
}

.Card-date {
  font-weight: 400;
  white-space: nowrap;
}

.Card-date-ago {
  /*margin: 0 0 calc(var(--std-margin) / 2);*/
  font-weight: 300;
  font-size: 0.8rem;
  white-space: nowrap;
  color: inherit;
}

.dark .Card-date-ago {
  color: #ffffffbd;
}

.Card-back-actions {
  flex: auto;
}

.Card-ipfs-hash {
  width: var(--card-id-side);
  height: var(--card-id-side);
  background-color: #fff;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 0 14px #ffffff;
}