.Card-holder {
  height: var(--card-height);
  width: var(--card-width);
}

.Card {
  --card-width: 320px;
  --card-height: 450px;
  --card-preview-side: 260px;
  --card-id-side: 60px;

  color: var(--l-text-color);
  cursor: pointer;
  /*min-height: 28rem;*/
  margin-right: 5rem;
  perspective: 1200px;
  position: relative;
  background-color: transparent;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  flex: 1 0 auto;
  height: var(--card-height);
  width: var(--card-width);
  user-select: none;
  /*max-width: 340px;*/
  transition: transform .2s ease-out;
}

.Card .Card-chain {
  position: absolute;
  z-index: -2;
  top: calc(50% - 25px);
  /*opacity: .2;*/
  transform: scale(1.5);
  left: calc(50% - 25px);
}

/*.Card .Card-chain.eth {*/
/*  top: -40px;*/
/*  right: -13px;*/
/*  opacity: .6;*/
/*}*/

/*.Card .Card-chain.polygon {*/
/*  top: -38px;*/
/*  right: -29px;*/
/*  opacity: .8;*/
/*}*/

.Card:active:not(.Card-rotated) {
 transform: scale(.97);
}

.Card:active:not(.Card-rotated) .Card-front,
.Card:active:not(.Card-rotated) .Card-back {
  background-size: 160% !important;
}

/*.Card.Card-rotated:active {*/
/*  transform: scale(.97);*/
/*}*/

.Card.Card-inactive {
  pointer-events: none !important;
  /*margin: auto auto var(--std-padding);*/
}

.Card-front,
.Card-back {
  background-size: 200% !important;
  background: rgb(245,233,183);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(228,205,105,1) 72%);
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: var(--card-height);
  width: var(--card-width);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all cubic-bezier(0.34, 0.37, 0.21, 1.48) .6s;
  box-shadow: 0 1rem 2rem #ddca7899;
  color: var(--l-text-color);
  border: none;
  font-size: inherit;
  text-transform: inherit;
  line-height: inherit;
}

.Card-front:focus,
.Card-front:hover,
.Card-back:focus,
.Card-back:hover {
  box-shadow: 0 1rem 2rem #ddca7899;
}

.dark .Card-front,
.dark .Card-back {
  background-size: 300% !important;
  background-color: #3c3c3c;
  background-image: radial-gradient(circle, #242424 0%, #423f31 28%, rgba(228,205,105,1) 72%);
  box-shadow: 0 1rem 2rem #ddcb7829;
  color: var(--d-text-color);
}

.Card-front {
  text-align: center;
  overflow: hidden;
  background-position: 50%;
}

.Card-front > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Card-front > div.Card-preview {
  flex: var(--card-preview-side);
  max-height: var(--card-preview-side);
}

.Card-rotated .Card-front {
  background-position: 100%;
}

.Card-back {
  display: flex;
  flex-direction: column;
  transform: rotateY(-180deg);
  background-position: -100%;
}

.Card-rotated .Card-back {
  pointer-events: initial;
  background-position: 50%;
  transform: rotateY(0deg);
}

.Card-rotated .Card-front {
  transform: rotateY(180deg);
}

.Card-rotated:nth-child(even) .Card-front {
  transform: rotateY(-180deg);
}

.Card .Card-front div.Card-title {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.6rem;
  font-weight: 500;
  /*height: 5rem;*/
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 0 #ffffff6e;
  color: #000000c9;
  padding: 1rem;
  position: relative;
}

.dark .Card-title {
  text-shadow: 1px 1px 0 #0000008a;
  color: #ffffffef;
}

.Card-preview {
  /*margin: auto;*/
  overflow: hidden;
  border-radius: 1000px;
  box-shadow: inset 0 0 70px #fff, inset 0 0 10px #fff;
  border: 1px solid #fff;
  /*position: relative;*/

  width: var(--card-preview-side);
  height: var(--card-preview-side);
}

.dark .Card-preview {
  border: 1px solid #ffffff1f;
  box-shadow: inset 0 0 70px rgba(221,205,137,.7), inset 0 0 10px rgba(228,213,144,1), 0 0 20px rgb(167,153,91);
}

.Card-preview > div {
  position: absolute;
  z-index: -2;
  width: 100%;
  /*height: 100%;*/
}

.Card-preview > div svg {
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  transform: scale(.9);
  border-radius: 100%;
  overflow: hidden;
  opacity: .8;
}

.Card-preview.Card-preview-loading {
  /*animation-duration: 3s;*/
  /*animation-fill-mode: forwards;*/
  /*animation-iteration-count: infinite;*/
  /*animation-timing-function: linear;*/
  /*animation-name: placeholderAnimate;*/
  background: #f6f7f8;
  background: linear-gradient(-65deg,
  rgba(255,255,255,0) 0%,
  rgba(255,255,255,0) 40%,
  rgba(239,226,132,.4) 50%,
  rgba(255,255,255,0) 60%,
  rgba(255,255,255,0) 100%
  );
  background-size: 500%;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.dark .Card-preview.Card-preview-loading {
  background: linear-gradient(-65deg,
  rgba(255,255,255,0) 0%,
  rgba(255,255,255,0) 40%,
  rgba(167,153,91,.4) 50%,
  rgba(255,255,255,0) 60%,
  rgba(255,255,255,0) 100%
  );
  background-size: 500%;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.Card-preview video,
.Card-preview img {
  position: relative;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: calc(300px - var(--std-padding) - var(--std-padding));
  height: calc(300px - var(--std-padding) - var(--std-padding));
  transform: scale(1.18);
}

.Card-timer {
  flex-direction: column;
  text-shadow: 1px 1px 0 #ffffff6e;
  color: #000000c9;
  width: 100%;
}

.dark .Card-timer {
  text-shadow: 1px 1px 0 #0000008a;
  color: #ffffffef;
}

.Card-date {
  font-weight: 400;
  white-space: nowrap;
}

.Card-date-ago {
  /*margin: 0 0 calc(var(--std-margin) / 2);*/
  font-weight: 300;
  font-size: 0.8rem;
  white-space: nowrap;
  color: inherit;
}

.dark .Card-date-ago {
  color: #ffffffbd;
}

.Card-ipfs-hash {
  width: var(--card-id-side);
  height: var(--card-id-side);
  background-color: #fff;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 2px 2px 18px 8px #eadea6b0;
  box-sizing: border-box;
}

.Card-back-actions {
  /*flex: auto;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  /*align-content: center;*/
  /*justify-content: space-around;*/
  width: 100%;
  height: 100%;
  position: relative;
}

.Card-back-actions .Card-back-action-button {
  position: absolute;
  display: block;
}

.Card-back-actions.count-1 .Card-back-action-button:nth-of-type(1) {
  top: 75px;
  left: calc(50% - 30px);
}

.Card-back-actions.count-2 .Card-back-action-button:nth-of-type(1) {
  top: 195px;
  left: 5%;
}
.Card-back-actions.count-2 .Card-back-action-button:nth-of-type(2) {
  top: 195px;
  right: 5%;
}

.Card-back-actions.count-3 .Card-back-action-button:nth-of-type(1) {
  top: 195px;
  left: 5%;
}
.Card-back-actions.count-3 .Card-back-action-button:nth-of-type(2) {
  top: 195px;
  right: 5%;
}
.Card-back-actions.count-3 .Card-back-action-button:nth-of-type(3) {
  top: 195px;
  right: 5%;
}

/*.Card-back-actions.count-2 .Card-back-action-button:nth-of-type(1) {*/
/*  top: -150px;*/
/*}*/

/*.Card-back-actions.count-2 .Card-back-action-button:nth-of-type(2) {*/
/*  top: -150px;*/
/*}*/





/*.Card-back-actions.count-0 {*/
/*  display: none;*/
/*}*/

/*.Card-back-actions.count-1 button {*/
/*  transform: scale(2.4);*/
/*}*/

/*.Card-back-actions.count-2 {*/
/*  flex-direction: column;*/
/*  justify-content: space-evenly;*/
/*  padding: 3rem 0;*/
/*}*/

/*.Card-back-actions.count-2 button {*/
/*  margin: 0 2rem;*/
/*  transform: scale(1.8);*/
/*}*/

/*.Card-back-actions.count-3 {*/
/*  flex-direction: row;*/
/*  display: flex;*/
/*  justify-content: space-evenly;*/
/*  position: relative;*/
/*  top: 1rem;*/
/*}*/

/*.Card-back-actions.count-3 button {*/
/*  margin: 2rem;*/
/*  transform: scale(1.6);*/
/*}*/

/*.Card-back-actions.count-4 {*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  align-content: space-around;*/
/*  justify-content: space-between;*/
/*  padding: 6rem 3rem;*/
/*  transform: rotateZ(45deg);*/
/*}*/

/*.Card-back-actions.count-4 button {*/
/*  margin: 0 20px;*/
/*  transform: scale(1.5) rotateZ(-45deg);*/
/*}*/


/*.Card-back-actions.count-5 {*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  align-content: space-around;*/
/*  justify-content: space-evenly;*/
/*  padding: 7rem 1rem;*/
/*  position: relative;*/
/*  top: 2rem;*/
/*}*/

/*.Card-back-actions.count-5 button {*/
/*  margin: 0 10px;*/
/*  padding: 0;*/
/*  transform: scale(1.3);*/
/*}*/

/*.Card-back-actions.count-5 button:nth-child(2) {*/
/*  position: relative;*/
/*  top: -5rem;*/
/*}*/

.Card-back-info.larger {
  height: auto;
}

.Card-back-info.larger .Card-back-action-button {
  transform: scale(4);
  box-shadow: none;
}

.Card-back-action-button {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: flex-end;
  /*margin: 37px 20px;*/
  width: var(--card-id-side);
  height: var(--card-id-side);
  overflow: hidden;
  border-radius: 100%;
  box-shadow: inset rgba(212,199,141, 0) 0px 0 0.75rem 0px;
  position: relative;
  background-color: #fff;
  border: 1px solid #decb79a8;
}

.Card-back-action-button:hover {
  box-shadow: none;
}

.Card-back-action-button:active {
  box-shadow: inset rgba(212,199,141, .7) 0px 0 0.75rem 0px;
}

.Card-back-action-button.flip-back {
  position: absolute;
  background-color: transparent;
  box-shadow: none;
  bottom: 0;
  transform: scale(.8);
}

.Card-back-action-button .icon {
  margin: 0;
}

.Card-back-action-button svg {
  width: 40px;
  height: 40px;
}

.Card-back-action-button svg path:nth-child(2) {
  fill: rgb(222,203,121) !important;
}

.Card-back-info {
  height: 120px;
}