<div class="NftList-cards-holder">
  <div class="Card-holder">
    <div class="Card Card-rotated ">
      <button tabindex="-1" class="Card-front">
        <div class="Card-timer">
          <div class="Card-date">April 19, 1882</div>
          <div class="Card-date-ago">Passed 139 years and 174 days</div>
        </div>
        <div class="Card-preview "><img
          src="https://ipfs.moralis.io:2053/ipfs/QmQm4MydM8UqNaQH7kmFDZ6fRFCt9YvRdeuKNK4vtomV7U" style="opacity: 1;">
        </div>
        <div class="Card-title">
          <div class="clamp-lines ">
            <div id="clamped-content-undefined" aria-hidden="false">Charles Robert Darwin Death</div>
          </div>
        </div>
      </button>
      <div class="Card-back">
        <div class="Card-back-actions count-0">
          <div class="Card-chain eth">
            <svg width="50px" height="50px" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                 image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 784.37 1277.39">
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <g id="_1421394342400">
                  <g>
                    <polygon fill="#343434" fill-rule="nonzero"
                             points="392.07,0 383.5,29.11 383.5,873.74 392.07,882.29 784.13,650.54 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,0 -0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                    <polygon fill="#3C3C3B" fill-rule="nonzero"
                             points="392.07,956.52 387.24,962.41 387.24,1263.28 392.07,1277.38 784.37,724.89 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,1277.38 392.07,956.52 -0,724.89 "></polygon>
                    <polygon fill="#141414" fill-rule="nonzero"
                             points="392.07,882.29 784.13,650.54 392.07,472.33 "></polygon>
                    <polygon fill="#393939" fill-rule="nonzero"
                             points="0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <button tabindex="0" class="Card-back-action-button flip-back">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none"></path>
              <path
                d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L3.71 8.71C3.08 8.08 2 8.52 2 9.41V15c0 .55.45 1 1 1h5.59c.89 0 1.34-1.08.71-1.71l-1.91-1.91c1.39-1.16 3.16-1.88 5.12-1.88 3.16 0 5.89 1.84 7.19 4.5.27.56.91.84 1.5.64.71-.23 1.07-1.04.75-1.72C20.23 10.42 16.65 8 12.5 8z"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="Card-holder">
    <div class="Card Card-rotated ">
      <button tabindex="-1" class="Card-front">
        <div class="Card-timer">
          <div class="Card-date">December 10, 1993</div>
          <div class="Card-date-ago">Passed 27 years and 305 days</div>
        </div>
        <div class="Card-preview "><img
          src="https://ipfs.moralis.io:2053/ipfs/QmTi5TfjgkBPnfxVNFVXCANr4bBxyFtXFAoXHo3Bz8aHxm" style="opacity: 1;">
        </div>
        <div class="Card-title">
          <div class="clamp-lines ">
            <div id="clamped-content-undefined" aria-hidden="false">First "Doom" Released</div>
          </div>
        </div>
      </button>
      <div class="Card-back">
        <div class="Card-back-actions count-1">
          <div class="Card-chain eth">
            <svg width="50px" height="50px" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                 image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 784.37 1277.39">
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <g id="_1421394342400">
                  <g>
                    <polygon fill="#343434" fill-rule="nonzero"
                             points="392.07,0 383.5,29.11 383.5,873.74 392.07,882.29 784.13,650.54 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,0 -0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                    <polygon fill="#3C3C3B" fill-rule="nonzero"
                             points="392.07,956.52 387.24,962.41 387.24,1263.28 392.07,1277.38 784.37,724.89 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,1277.38 392.07,956.52 -0,724.89 "></polygon>
                    <polygon fill="#141414" fill-rule="nonzero"
                             points="392.07,882.29 784.13,650.54 392.07,472.33 "></polygon>
                    <polygon fill="#393939" fill-rule="nonzero"
                             points="0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
        </div>
        <button tabindex="0" class="Card-back-action-button flip-back">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none"></path>
              <path
                d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L3.71 8.71C3.08 8.08 2 8.52 2 9.41V15c0 .55.45 1 1 1h5.59c.89 0 1.34-1.08.71-1.71l-1.91-1.91c1.39-1.16 3.16-1.88 5.12-1.88 3.16 0 5.89 1.84 7.19 4.5.27.56.91.84 1.5.64.71-.23 1.07-1.04.75-1.72C20.23 10.42 16.65 8 12.5 8z"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="Card-holder">
    <div class="Card Card-rotated ">
      <button tabindex="-1" class="Card-front">
        <div class="Card-timer">
          <div class="Card-date">July 21, 2022</div>
          <div class="Card-date-ago">Coming in 282 days</div>
        </div>
        <div class="Card-preview "><img
          src="https://ipfs.moralis.io:2053/ipfs/QmZJD9rfa7PbJ4M9Fct6cEzpuuGHggo558S6yxSikn3YH6" style="opacity: 1;">
        </div>
        <div class="Card-title">
          <div class="clamp-lines ">
            <div id="clamped-content-undefined" aria-hidden="false">Polygon NFT</div>
          </div>
        </div>
      </button>
      <div class="Card-back">
        <div class="Card-back-actions count-2">
          <div class="Card-chain polygon">
            <svg width="50px" height="50px" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 38.4 33.5">
              <g>
                <path fill="#8247E5" class="st0"
                      d="M29,10.2c-0.7-0.4-1.6-0.4-2.4,0L21,13.5l-3.8,2.1l-5.5,3.3c-0.7,0.4-1.6,0.4-2.4,0L5,16.3 c-0.7-0.4-1.2-1.2-1.2-2.1v-5c0-0.8,0.4-1.6,1.2-2.1l4.3-2.5c0.7-0.4,1.6-0.4,2.4,0L16,7.2c0.7,0.4,1.2,1.2,1.2,2.1v3.3l3.8-2.2V7 c0-0.8-0.4-1.6-1.2-2.1l-8-4.7c-0.7-0.4-1.6-0.4-2.4,0L1.2,5C0.4,5.4,0,6.2,0,7v9.4c0,0.8,0.4,1.6,1.2,2.1l8.1,4.7 c0.7,0.4,1.6,0.4,2.4,0l5.5-3.2l3.8-2.2l5.5-3.2c0.7-0.4,1.6-0.4,2.4,0l4.3,2.5c0.7,0.4,1.2,1.2,1.2,2.1v5c0,0.8-0.4,1.6-1.2,2.1 L29,28.8c-0.7,0.4-1.6,0.4-2.4,0l-4.3-2.5c-0.7-0.4-1.2-1.2-1.2-2.1V21l-3.8,2.2v3.3c0,0.8,0.4,1.6,1.2,2.1l8.1,4.7 c0.7,0.4,1.6,0.4,2.4,0l8.1-4.7c0.7-0.4,1.2-1.2,1.2-2.1V17c0-0.8-0.4-1.6-1.2-2.1L29,10.2z"></path>
              </g>
            </svg>
          </div>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
        </div>
        <button tabindex="0" class="Card-back-action-button flip-back">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none"></path>
              <path
                d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L3.71 8.71C3.08 8.08 2 8.52 2 9.41V15c0 .55.45 1 1 1h5.59c.89 0 1.34-1.08.71-1.71l-1.91-1.91c1.39-1.16 3.16-1.88 5.12-1.88 3.16 0 5.89 1.84 7.19 4.5.27.56.91.84 1.5.64.71-.23 1.07-1.04.75-1.72C20.23 10.42 16.65 8 12.5 8z"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="Card-holder">
    <div class="Card Card-rotated ">
      <button tabindex="-1" class="Card-front">
        <div class="Card-timer">
          <div class="Card-date">September 30, 2021</div>
          <div class="Card-date-ago">Passed 11 days</div>
        </div>
        <div class="Card-preview "><img
          src="https://ipfs.moralis.io:2053/ipfs/QmaT774L9Uj77tdWaWnBepyrBzxw6srrVjLPC5CiYqnhLV" style="opacity: 1;">
        </div>
        <div class="Card-title">
          <div class="clamp-lines ">
            <div id="clamped-content-undefined" aria-hidden="false">Cruel World</div>
          </div>
        </div>
      </button>
      <div class="Card-back">
        <div class="Card-back-actions count-3">
          <div class="Card-chain eth">
            <svg width="50px" height="50px" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                 image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 784.37 1277.39">
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <g id="_1421394342400">
                  <g>
                    <polygon fill="#343434" fill-rule="nonzero"
                             points="392.07,0 383.5,29.11 383.5,873.74 392.07,882.29 784.13,650.54 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,0 -0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                    <polygon fill="#3C3C3B" fill-rule="nonzero"
                             points="392.07,956.52 387.24,962.41 387.24,1263.28 392.07,1277.38 784.37,724.89 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,1277.38 392.07,956.52 -0,724.89 "></polygon>
                    <polygon fill="#141414" fill-rule="nonzero"
                             points="392.07,882.29 784.13,650.54 392.07,472.33 "></polygon>
                    <polygon fill="#393939" fill-rule="nonzero"
                             points="0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
        </div>
        <button tabindex="0" class="Card-back-action-button flip-back">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none"></path>
              <path
                d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L3.71 8.71C3.08 8.08 2 8.52 2 9.41V15c0 .55.45 1 1 1h5.59c.89 0 1.34-1.08.71-1.71l-1.91-1.91c1.39-1.16 3.16-1.88 5.12-1.88 3.16 0 5.89 1.84 7.19 4.5.27.56.91.84 1.5.64.71-.23 1.07-1.04.75-1.72C20.23 10.42 16.65 8 12.5 8z"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="Card-holder">
    <div class="Card Card-rotated ">
      <button tabindex="-1" class="Card-front">
        <div class="Card-timer">
          <div class="Card-date">July 9, 2021</div>
          <div class="Card-date-ago">Passed 94 days</div>
        </div>
        <div class="Card-preview "><img
          src="https://ipfs.moralis.io:2053/ipfs/QmU3pvKuKCTngRcEM2xc5VdV9MqNbRLzMi7phPwLTJKLwF" style="opacity: 1;">
        </div>
        <div class="Card-title">
          <div class="clamp-lines ">
            <div id="clamped-content-undefined" aria-hidden="false">niceday</div>
          </div>
        </div>
      </button>
      <div class="Card-back">
        <div class="Card-back-actions count-4">
          <div class="Card-chain eth">
            <svg width="50px" height="50px" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                 image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 784.37 1277.39">
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <g id="_1421394342400">
                  <g>
                    <polygon fill="#343434" fill-rule="nonzero"
                             points="392.07,0 383.5,29.11 383.5,873.74 392.07,882.29 784.13,650.54 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,0 -0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                    <polygon fill="#3C3C3B" fill-rule="nonzero"
                             points="392.07,956.52 387.24,962.41 387.24,1263.28 392.07,1277.38 784.37,724.89 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,1277.38 392.07,956.52 -0,724.89 "></polygon>
                    <polygon fill="#141414" fill-rule="nonzero"
                             points="392.07,882.29 784.13,650.54 392.07,472.33 "></polygon>
                    <polygon fill="#393939" fill-rule="nonzero"
                             points="0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
        </div>
        <button tabindex="0" class="Card-back-action-button flip-back">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none"></path>
              <path
                d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L3.71 8.71C3.08 8.08 2 8.52 2 9.41V15c0 .55.45 1 1 1h5.59c.89 0 1.34-1.08.71-1.71l-1.91-1.91c1.39-1.16 3.16-1.88 5.12-1.88 3.16 0 5.89 1.84 7.19 4.5.27.56.91.84 1.5.64.71-.23 1.07-1.04.75-1.72C20.23 10.42 16.65 8 12.5 8z"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="Card-holder">
    <div class="Card Card-rotated ">
      <button tabindex="-1" class="Card-front">
        <div class="Card-timer">
          <div class="Card-date">September 30, 2021</div>
          <div class="Card-date-ago">Passed 11 days</div>
        </div>
        <div class="Card-preview "><img
          src="https://ipfs.moralis.io:2053/ipfs/QmRYMmHo7jKUbGdZ94EAx61nhJBGGTqh4UBrpejduSpJRa" style="opacity: 1;">
        </div>
        <div class="Card-title">
          <div class="clamp-lines ">
            <div id="clamped-content-undefined" aria-hidden="false">Pepe For President</div>
          </div>
        </div>
      </button>
      <div class="Card-back">
        <div class="Card-back-actions count-5">
          <div class="Card-chain eth">
            <svg width="50px" height="50px" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                 image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 784.37 1277.39">
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <g id="_1421394342400">
                  <g>
                    <polygon fill="#343434" fill-rule="nonzero"
                             points="392.07,0 383.5,29.11 383.5,873.74 392.07,882.29 784.13,650.54 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,0 -0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                    <polygon fill="#3C3C3B" fill-rule="nonzero"
                             points="392.07,956.52 387.24,962.41 387.24,1263.28 392.07,1277.38 784.37,724.89 "></polygon>
                    <polygon fill="#8C8C8C" fill-rule="nonzero"
                             points="392.07,1277.38 392.07,956.52 -0,724.89 "></polygon>
                    <polygon fill="#141414" fill-rule="nonzero"
                             points="392.07,882.29 784.13,650.54 392.07,472.33 "></polygon>
                    <polygon fill="#393939" fill-rule="nonzero"
                             points="0,650.54 392.07,882.29 392.07,472.33 "></polygon>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
          <button tabindex="0" class="Card-back-action-button">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"></path>
              </svg>
            </div>
          </button>
        </div>
        <button tabindex="0" class="Card-back-action-button flip-back">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none"></path>
              <path
                d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L3.71 8.71C3.08 8.08 2 8.52 2 9.41V15c0 .55.45 1 1 1h5.59c.89 0 1.34-1.08.71-1.71l-1.91-1.91c1.39-1.16 3.16-1.88 5.12-1.88 3.16 0 5.89 1.84 7.19 4.5.27.56.91.84 1.5.64.71-.23 1.07-1.04.75-1.72C20.23 10.42 16.65 8 12.5 8z"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>