.Viewer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--l-bg-color);
    display: flex;
    align-items: center;

    animation-name: viewer-appear;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.dark .Viewer {
    background-color: var(--d-bg-color);
}

.Viewer.Viewer-hide-animation {
     animation-name: viewer-dissappear;
     animation-duration: .4s;
     animation-fill-mode: forwards;
     animation-iteration-count: 1;
     animation-timing-function: ease-out;
 }

.Viewer-close {
  float: right;
  position: absolute;
  z-index: 110;
  width: 4rem;
  height: 4rem;
  top: 0;
  right: 0;
  display: block;
  border: none;
}

.Viewer-close:hover,
.Viewer-close:focus,
.Viewer-close:active {
  box-shadow: none;
}

.Viewer-close .icon {
  margin: 0;
}

.Viewer-close .icon svg path:nth-child(2) {
  fill: var(--l-gold-text);
}

.Viewer-info {
  position: absolute;
  top: 1.5rem;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: .8rem;
  pointer-events: none;
  z-index: 110;
}

/*.Viewer-logo {*/
/*  width: 36px;*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  bottom: 1rem;*/
/*  margin-left: -18px;*/
/*}*/

.Viewer-description {
  line-height: 1.4rem;
  text-align: justify;
}

.Viewer-inner {
  border-radius: 11px;
  border-top: 1px solid rgb(165,148,71);
  border-bottom: 1px solid rgb(165,148,71);
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem var(--std-padding);
  position: relative;
  max-height: calc(100% - 150px);
  top: -20px;
}

.Viewer-description .Viewer-content-area {
  max-height: 100%;
  overflow: auto;
}

.Viewer-texts .Viewer-logo,
.Viewer-description .Viewer-logo {
  max-width: 60px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -30px;
}

.Viewer-description .Viewer-content-area::-webkit-scrollbar {
  display: none;
}

.Viewer-texts .Viewer-inner {
  width: 100%;
  display: block;
}
.Viewer-texts .swiper-slide {
  max-height: calc(100vh - 180px);
  overflow: auto;
}

.Viewer-texts .Viewer-texts-inner {
  /*height: 100%;*/
  /*overflow: auto;*/
  /*display: flex;*/
  /*justify-content: center;*/
}

/*.Viewer-texts .Viewer-texts-inner::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

/*.Viewer-texts .Viewer-texts-inner-text {*/
/*  line-height: 1.8rem;*/

/*  animation-name: text-appears;*/
/*  animation-duration: .4s;*/
/*  animation-fill-mode: forwards;*/
/*  animation-iteration-count: 1;*/
/*  animation-timing-function: ese-out;*/
/*}*/


@keyframes text-appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*.Viewer-audios .Viewer-inner {*/
/*  border-radius: 11px;*/
/*  display: block;*/
/*}*/

/*.Viewer-audios .swiper-slide {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*  display: block;*/
/*  border-top: 1px solid rgb(165,148,71);*/
/*  border-bottom: 1px solid rgb(165,148,71);*/
/*  border-radius: 11px;*/
/*  padding: 1.5rem 1rem;*/
/*}*/

/*.Viewer-audios .Viewer-content-area {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*}*/

/*.Viewer-audios .Viewer-content-area .swiper-container {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*}*/

/*.Viewer-audios .Viewer-audios-inner {*/
/*  height: 100%;*/
/*  overflow: auto;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  flex-direction: column;*/
/*}*/

/*.Viewer-audios .Viewer-audios-inner::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

/*.Viewer-audios .Viewer-audios-inner audio {*/
/*  width: 100% !important;*/
/*}*/

/*.Viewer-images {*/
/*  padding: 0;*/
/*}*/



.Viewer-images .Viewer-inner {
  display: block;
  /*height: 100%;*/
  padding: 0;
  border: none;
  max-width: 100%;
}

.Viewer-images .Viewer-inner img {
  /*max-height: calc(100vh - 100px);*/
  min-height: calc(100vh - 130px);
  margin: auto;
}

/*.Viewer-images .swiper-slide {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*  !*display: block;*!*/
/*  display: flex;*/
/*  justify-content: space-evenly;*/
/*  align-items: center;*/
/*}*/

/*.Viewer-images .Viewer-content-area {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*}*/

/*.Viewer-images .Viewer-content-area .swiper-container {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*}*/

.Viewer-images .Viewer-images-inner {
  width: 100%;
  height: 100%;
}

.Viewer-images .Viewer-images-inner img {
  object-fit: contain;
  width: 100%;
  height: calc(100vh - 80px);
}

.Viewer-videos .Viewer-inner {
  border: none;
  padding: 0;
  display: block;
  width: 100%;
  max-width: 95%;
}

.Viewer-videos .Viewer-inner video {
  max-width: 100%;
  margin: auto;
  display: block;
  max-height: calc(100vh - 100px);
}

/*.Viewer-videos .swiper-slide {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*  display: flex;*/
/*  justify-content: space-evenly;*/
/*  align-items: center;*/
/*}*/

/*.Viewer-content-area-wrap {*/

/*}*/

.Viewer-videos .Viewer-content-area {
  /*height: 100%;*/
  /*overflow: hidden;*/
}

/*.Viewer-videos .Viewer-content-area .swiper-container {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*}*/

/*.Viewer-videos .Viewer-content-area video {*/
/*  max-width: 100%;*/
/*  max-height: 100%;*/
/*}*/

@keyframes viewer-appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes viewer-dissappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}