:root {
  --main-bg-color: brown;
  --accent-color: #ebdb8da8;
  --shadow-color: #ebdb8da8;
  --desktop-menu-width: 322px;

  --std-padding: 1.5625rem;
  --std-margin: 1.5625rem;
  --std-font-size: 1rem;
  --std-border-radius: 8px;

  --l-bg-color: rgb(255, 255, 255);
  --d-bg-color: #222;

  --l-text-color: #444;
  --d-text-color: #ccc;

  --l-input-bg-color: rgb(255, 255, 255);
  --d-input-bg-color: rgb(27,27,27);

  --l-gold-text: rgb(165,148,71);
  --d-gold-text: rgb(165,148,71);

  --std-border-color: rgb(212, 199, 141);
  --std-border-color-dark: rgb(109,101,66);

  --breakpoint-sm: 360px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;

  --card-change-transition-time: .3s;
  --card-change-transition-easing: cubic-bezier(.37,.37,.27,.96);
  --card-change-transition-scale-factor: 0;
  --card-change-transition-transflate-factor: 50%;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: var(--std-border-color);
}

::selection {
  color: black;
  background: var(--std-border-color);
}

/*@media screen and (min-width: 768px) {*/
/*  :root {*/
/*    --std-padding: 2.5625rem;*/
/*    --std-margin: 2.5625rem;*/
/*  }*/
/*}*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /*background-color: var(--l-bg-color);*/
  color: var(--l-text-color);
  font-size: var(--std-font-size);
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url(./assets/img/bg.jpg);
  bottom: 0;
  left: 0;
  opacity: .6;
  z-index: -1;
  background-size: cover;
}

/* form elements reset */
input,
label,
select,
button,
textarea,
.react-tag-input__input
{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;

  /* Browsers have different default form fonts */
  font-size:var(--std-font-size);
}

/* Remove the stupid outer glow in Webkit */
/*input:focus*/
/*{*/
/*  outline:0;*/
/*}*/

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
  color: var(--l-text-color);
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
  width:13px;
  height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{
  color: var(--l-text-color);
}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
  -webkit-appearance:textfield;
  -webkit-box-sizing:border-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
  display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
  /* Fix IE7 display bug */
  overflow:visible;
  width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
  padding:0;
  border:0;
  background:none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
  /* Move the label to the top */
  vertical-align:top;

  /* Turn off scroll bars in IE unless needed */
  overflow:auto;
  color: var(--l-text-color);
}

/* Selects
-----------------------------------------------*/

select
{

  color: var(--l-text-color);
}

select[multiple]
{
  /* Move the label to the top */
  vertical-align:top;
}

input,
select {
  min-height: 2rem;
  padding: 0rem .5rem 0 .5rem;
}

select {
  cursor: pointer;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  border: 1px solid var(--std-border-color);
  border-radius: var(--std-border-radius);
  box-sizing: border-box;
  /*min-height: 2rem;*/
  padding: 0rem .6rem;
  color: var(--l-text-color);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: .8rem;
  transition: box-shadow .1s ease-in;
  display: inline-flex;
  align-items: center;
}

input[type="file"] {
  cursor: pointer;
}

button .icon,
input[type="reset"] .icon,
input[type="button"] .icon,
input[type="submit"] .icon {
  display: inline-block;
  margin-right: .6rem;
}

button:hover {
  box-shadow: rgba(212,199,141,0.2) 0px 0.25rem 0.75rem 0px;
}

button:active {
  box-shadow: inset rgba(212,199,141,0.2) 0px 0.25rem 0.75rem 0px;
}

button.btn-primary {
  text-align: center;
  padding: 1rem;
  width: auto;
  background-image: linear-gradient(321deg, rgba(252,240,181,1) 0%, rgba(235,219,141,1) 100%);
  border: none;
}

button.btn-big {
  white-space: initial;
  flex-direction: column;
  display: flex;
  padding: 0.5rem 0 1rem;
  margin: auto;
  /*z-index: 2;*/
}

button.btn-big .icon {
  width: 3rem;
  margin-right: 0;
  margin-bottom: .2rem;
}

button.btn-big .icon svg {
  width: 100%;
  height: auto;
}

button.btn-big .icon svg path:nth-child(2) {
  fill: #e9db98;
}

button.btn-mint .icon svg path:nth-child(2) {
  fill: #bfa524;
}

.btn-mint {
  border-radius: 1rem;
  border: none;
  box-shadow: var(--shadow-color) 0px 0.25rem 0.75rem 0px;
  background: linear-gradient(321deg, rgba(252,240,181,1) 0%, rgba(235,219,141,1) 100%);
  font-size: 1.2rem;
  background-size: 200%;
  transition: background-position .2s ease-out;
}

.btn-mint:hover {
  background-position: 100% 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  font-weight: 400;
  /*text-transform: uppercase;*/
}

h1 {
  font-size: 24px;
}

a {
  color: var(--l-gold-text);
}

.Page-wrapper {
  margin-left: var(--desktop-menu-width);
}

.Page-wrapper.main,
.Page-wrapper.fullwidth {
  margin-left: 0;
}

.Page-wrapper.main h1:first-of-type {
  margin-left: var(--desktop-menu-width);
}

.form-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }






/* ----------------------------------------------
 * Generated by Animista on 2021-9-11 20:31:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out .2s ease-out both !important;
  animation: fade-out .2s ease-out both !important;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-12 0:0:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.light-background-with-padding {
  background-color: rgba(255, 255, 255, .9);
  padding: var(--std-padding);
  border-radius: 15px;
  box-shadow: var(--shadow-color) 0 0 1.625rem 0px;
  max-width: 900px;
}

.light-background-with-padding .AlertMessage {
  box-shadow: none;
  border-width: 2px;
}

.markdown a {
  color: var(--l-gold-text);
  text-decoration: none;
}
.dark .markdown a {
  color: var(--d-gold-text);
}
.markdown a:focus {
  outline: thin dotted;
}
.markdown a:hover,
.markdown a:active {
  outline: 0;
}
.markdown p {
  margin: 1em 0;
}
.markdown img {
  max-width: 100%;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: normal;
  line-height: 1em;
}
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: bold;
}
.markdown h1 {
  font-size: 2.5em;
}
.markdown h2 {
  font-size: 2em;
}
.markdown h3 {
  font-size: 1.5em;
}
.markdown h4 {
  font-size: 1.2em;
}
.markdown h5 {
  font-size: 1em;
}
.markdown h6 {
  font-size: 0.9em;
}
.markdown blockquote {
  margin: 0;
  padding-left: 3em;
}
.markdown hr {
  display: block;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.226);
  margin: 1em 0;
  padding: 0;
}
.markdown pre,
.markdown code,
.markdown kbd,
.markdown samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 0.98em;
}
.markdown pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.markdown b,
.markdown strong {
  font-weight: bold;
}
.markdown dfn {
  font-style: italic;
}
.markdown ins {
  text-decoration: none;
}
.markdown mark {
  font-style: italic;
  font-weight: bold;
}
.markdown sub,
.markdown sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.markdown sup {
  top: -0.5em;
}
.markdown sub {
  bottom: -0.25em;
}
.markdown ul,
.markdown ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
.markdown li p:last-child {
  margin: 0;
}
.markdown dd {
  margin: 0 0 0 2em;
}
.markdown img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown td {
  vertical-align: top;
}

.partners-logos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.partners-logos > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.partners-logos img {
  width: 200px;
  margin-right: 2rem;
}